<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>Hellvar | {% block title %}{% endblock %}</title>
        <style>
            input[type="submit"] {
                display: block;
            }
        </style>
    </head>
    <body>
        <header>
            <div class="user">
                {% if environ['app.user_id'] %}
                    {{ environ['app.user_id'] }} <a href="/logout">logout</a>
                {% endif %}
            </div>
            <nav>
                <ul>
                    <li><a href="/">Admin - Home</a></li>
                    <li><a href="/posts">Manage posts</a></li>
                    <li><a href="/new_post">New Post</a></li>
                </ul>
            </nav>
        </header>
        
        <hr>
        
        {% block contents %}
        {% endblock %}
    </body>
</html>
