<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>Hellvar | Admin fréttasíðu - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/css/main.css" type="text/css" />
    </head>
    <body>
        <header>
            <div class="user">
                {% if environ['app.user_id'] %}
                    {{ environ['app.user_id'] }} <a href="/logout">Skrá út</a>
                {% endif %}
            </div>
            <nav>
                <ul>
                    <li><a href="/">Forsíða admins</a></li>
                    <li><a href="/posts">Pistlar</a></li>
                    <li><a href="/new_post">Nýr pistill</a></li>
                </ul>
            </nav>
        </header>
        <hr />
        {% block contents %}{% endblock %}
    </body>
</html>
