{% import 'forms.html' as forms %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Hellvar | Admin - Login</title>
</head>
<body>
    {% call forms.form("", method="POST", value="Login") %}
        {% if auth_error %}
            <p class="error">Username or password incorrect</p>
        {% endif %}
        {{ forms.input("user_id", type="text", label="Username", value=user_id) }}
        {{ forms.input("password", type="password", label="password") }}
    {% endcall %}
</body>
</html>
