{% import 'forms.html' as forms %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Hellvar | Admin - Skrá inn</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
</head>
<body>
    {% call forms.form("", method="POST", value="Skrá inn") %}
        {% if auth_error %}
            <p class="error">Notendanafn eða lykilorð ekki rétt</p>
        {% endif %}
        {{ forms.input("user_id", type="text", label="Notendanafn", value=user_id) }}
        {{ forms.input("password", type="password", label="Lykilorð") }}
    {% endcall %}
</body>
</html>
