{% extends 'base.html' %}
{% import 'forms.html' as forms %}

{% block title %}Admin - New post{% endblock %}

{% block contents %}
    {% call forms.form("", method="POST", value="Post") %}
        {% if not_unique_error %}
            <p class='error'>Title already excists</p>
        {% endif %}
        {{ forms.input('title', type='text', value=title or '', label='Title: ') }}
        {{ forms.textarea('text_body', value=text_body or '', rows=20, cols=90) }}
    {% endcall %}
{% endblock %}
