{% extends 'base.html' %}
{% import 'forms.html' as forms %}

{% block title %}Admin - News posts{% endblock %}

{% block contents %}

    {% call forms.form("", method="POST", value="Submit") %}
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Published</th>
                    <th>Last modified</th>
                </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ forms.input('post_id', type="checkbox", value=post.id) }}</td>
                    <td><a href="/posts/{{ post.id }}">{{ post.title }}</a></td>
                    <td>{% if post.published %}{{ post.published|datetime }}{% else %}Not Published{% endif %}</td>
                    <td>{% if post.last_modified %}{{ post.last_modified|datetime }}{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <select name="action">
            <option value="delete">Delete posts</option>
        </select>
    {% endcall %}
{% endblock %}
