{% extends 'base.html' %}
{% import 'forms.html' as forms %}

{% block title %}Admin - Fréttapistlar{% endblock %}

{% block contents %}
    {% if posts %}
        {% call forms.form("", method="POST", value="Framkvæma aðgerð") %}
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Titill</th>
                        <th>Birtur</th>
                        <th>Seinast breyttur</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ forms.input('post_id', type="checkbox", value=post.id) }}</td>
                            <td><a href="/posts/{{ post.id }}">{{ post.title }}</a></td>
                            <td>{% if post.published %}{{ post.published|datetime }}{% else %}Óbirtur{% endif %}</td>
                            <td>{% if post.last_modified %}{{ post.last_modified|datetime }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if select_to_many_error %}
                <p class="error">Einungis er hægt að framkvæma þessa aðgerð á einn pistill í einu.</p>
                {% elif select_none_error %}
                <p class="error">Þessi aðgerð krefst þess að þú hakir við a.m.k. einn pistill.</p>
            {% endif %}
            <select name="action">
                <option value="edit">Breyta pistli</option>
                <option value="delete">Eyða pistlum</option>
                <option value="publish">Birta pistla</option>
                <option value="unpublish">Afbirta pistla</option>
            </select>
        {% endcall %}
    {% else %}
        <p>Engir fréttpistlar tiltækir, enn sem komið er. <a href="new_post">Skrifa nýjan póst</a></p>
    {% endif %}
{% endblock %}
