{% extends 'base.html' %}
{% import 'forms.html' as forms %}

{% block title %}Admin - {{ post.title }}{% endblock %}

{% block contents %}

    <article>
        <header>
            {% if post.published %}
                <p>Published: {{ post.published|datetime }}</p>
                {% call forms.form("", method="POST", value="Unpublish") %}
                {% endcall %}
            {% else %}
                <p>Not published yet.</p>
                {% call forms.form("", method="POST", value="Publish") %}
                {% endcall %}
            {% endif %}
        </header>
        
        {{ post.text_body|markdown|safe }}
        
    </article>
    
    <a href="/{{ post.id }}/edit"><button type="button">Edit</button></a>

{% endblock %}
