{% extends 'base.html' %}
{% import 'forms.html' as forms %}

{% block title %}Admin - {{ post.title }}{% endblock %}

{% block contents %}

    <article>
        <header>
            {% if post.published %}
                <p>Birt: {{ post.published|datetime }}</p>
                {% call forms.form("", method="POST", value="Afbirta") %}
                {% endcall %}
            {% else %}
                <p>Óbirt</p>
                {% call forms.form("", method="POST", value="Birta") %}
                {% endcall %}
            {% endif %}
        </header>
        
        {{ post.text_body|markdown|safe }}
        
    </article>
    
    <a href="/news/admin/{{ post.id }}/edit"><button type="button">Breyta</button></a>

{% endblock %}
