{% import 'forms.html' as forms %}
{% extends 'base.html' %}

{% block title %}Forsíða{% endblock %}

{% block contents %}
    {% if messages %}
        <h1>... dagsins</h1>
        {% call forms.form("", method="POST", value="Framkvæma aðgerð") %}
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Nr.</th>
                        <th>Skilaboð</th>
                    </td>
                </thead>
                <tbody>
                    {% for otd in messages %}
                        <tr>
                            <td>{{ forms.input("otd_id", type="checkbox", value=otd.id) }}</td>
                            <td><a href="/oftheday/admin/{{ otd.id }}/edit">{{ otd.id }}</a></td>
                            <td>{{ otd.message }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if select_tomany_error %}
                <p class="error">Þessa aðgerð er aðeins hægt að framkvæma á eitt innlegg í einu.</p>
            {% elif select_none_error %}
                <p class="error">Þessi aðgerð krefst þess að þú veljir a.m.k. eitt innlegg.</p>
            {% endif %}
            <select name="action">
                <option value="edit">Breyta skilaboðum</option>
                <option value="delete">Eyða skilaboðum</option>
            </select>
        {% endcall %}
    {% else %}
        <p>Engnin skilaboð, enn sem komið er.</p>
    {% endif %}
{% endblock %}
