{% import 'forms.html' as forms %}
{% extends 'base.html' %}

{% block title %}Skrá inn{% endblock %}

{% block body %}
    {% block contents %}
        {% call forms.form("", method="POST", value="Skrá inn") %}
            {{ forms.input("user_id", type="text", label="Notendanafn", value=user_id) }}
            {{ forms.input("password", type="password", label="Lykilorð") }}
            {% if auth_error %}
                <p class="error">Úps! vitlaust skrifað.</p>
            {% endif %}
        {% endcall %}
    {% endblock %}
{% endblock %}
